.portfolio-page-something {
    // padding-left: 100px;
    // padding-right: 50px;
    // width: calc(100% - 150px);
    //position: initial;
    //min-height: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
    //display: inline-block;
    // justify-content:flex-end;
    // align-items:center;
    display: flex;
    align-items: center;
    //justify-content: center;
    justify-items: center;
    background-color: green;
    min-height: 50vh;
    margin-top: 50px;
    flex-direction: column;
    overflow: visible;
    //min-height: ;

    .header {
        background-color: blue;
        min-width: 90vw;
        display: flex;
        padding: 10px 10px;
        flex-direction: column;
        margin-bottom: 20px;

        // min-height: 20%;
    }

    h1.page-title {
        // margin:10px 0px;
        // margin-top:-30px;
        font-size: 50px;
        color: white;
        font-family: sans-serif;
        text-align: left;
    }

    .nav-bar-text {
        //color: red;
        margin: 0px 0px;
        font-weight: bold;
        transition: 0.1s;
        
        &:hover {
        color: yellow;
        //transform: translateY(-1px) translateX(1px);
        transition: 0.1s;
        }
    }

    p {
        color: white;
        font-size: 15px;
    }

    .render-portfolio {
       display: flex;
       background-color: white;
       border: #ffd700 10px solid;
        flex-wrap: wrap;
        min-height: 50vh;
        max-height: 50vh;
        width: 90%;
        max-width: 90%;
        overflow: hidden;
        margin-left: -10px;
        padding: 10px 10px;
        margin-bottom: 10px;
        justify-content: center;
    }

    button {
        height: 100%;
        padding: 0px 0px;
        background: none;
        border: none;
        cursor: pointer;
    }

    .img-container {
        width: 350px;
        height: 200px;
        overflow: hidden;
        background-color: red;
        transition: width 0.25s ease-in-out;
        margin: 5px 5px;
        object-fit: cover;
        //  top: -20px;
        // left: -100px;
        

        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;

    
        .content {
            opacity: 0;
            //display: none;
            display: flex;
            position: absolute;
            justify-content: space-between;
            padding-left: 10px;
            width: 100%;
            z-index: 3;
            padding: 10px 20px;
            animation: fadeOutDown 0.15s;
            //transform: translateY(10px);
            background: linear-gradient(
                180deg,
                rgba(0, 0, 0, 0.2) 0,
                rgba(0, 0, 0, 1)
            );
            bottom: -5px;
        }

        .title {
            margin-bottom: 0;
            margin-top: 0;
            color: #fff;
            font-size: 24px;
            font-weight: 500;
            line-height: 24px;
            margin-left: 10px;
        }

        .description {
            font-size: 14px;
            margin-bottom: 5px;
            color: #888888;
            font-weight: 700;
            margin-right: 5px;
        }

        .btn {
            margin-top: 30px;
            margin-bottom: 10px;
            padding: 0 23px;
            height: 40px;
            line-height: 34px;
            border: 2px solid #ffd700;
            border-radius: 4px;
            font-size: 14px;
            color: #fff;
            background: transparent;
            text-transform: uppercase;
            font-weight: 700;
            transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
            cursor: pointer;
        }

        .btn:hover {
            transform: translateY(-3px);
            background: #ffd700;
        }

    //     &:after {
    //         content: "";
    //         background: linear-gradient(180deg, #ffd700, #000);
    //         position: absolute;
    //         left: 0;
    //         right: 0;
    //         bottom: 0;
    //         top: 0;
    //         width: 100%;
    //         height: 100%;
    //         z-index: 2;
    //         transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    //         opacity: 0;
    //     }

    //     &:hover:after {
    //         opacity: 0.85;
    //     }

    //     &:hover .content {
    //         bottom: 0;
    //         background: transparent;
    //     }

        &:hover {
            width: 400px;
             transition: width 0.25s ease-in-out;
             cursor: pointer;

             .content {
                //display: flex;
                opacity: 1;
                animation: fadeInUp 0.15s;
                transform: translateY(0px);
                transition: 1s;
            }
        }
    }
    // }

    .img-container:nth-of-type(1) {
        width: 350px;
        align-items: baseline;
        &:hover {
            width: 450px;
            //transition: width 0.25s ease-in-out;
        } 
    }

    .img-container:nth-of-type(3) {
        width: 200px;
        align-items:end;
        &:hover {
            width: 300px;
            //transition: width 0.25s ease-in-out;
        } 
    }

    .img-container img {
        // width: 100px;
        // //height: auto;
        // height: 200px;
        // object-fit: cover;
        // object-position: center;
        // transition: object-fit 0.25s ease-in-out;
        
        // display: flex;
        // align-items: center;
        // justify-content: center;
       width: 150%;
        height: 150%;
        object-fit: cover; /* Starts cropped */
        // transition: height 0.25s ease-in-out;
        // transition: width 0.25s ease-in-out;
        &:hover {
            // width: 100%;
            // height: 100%;
            // object-fit: contain;
            // //transition: 0.25s ease-in-out;
            // transition: width 1s ease;
            // transition: height 1s ease;
        }
    }

    .images-container {
        // display: flex;
        // gap: 15px;
        // flex-wrap: wrap;
        //padding-bottom: 100px;
        width: 350px;
        height: 200px;
        overflow: hidden;
        background-color: red;
        transition: width 0.25s ease-in-out;
        margin: 5px 5px;
        //  top: -20px;
        // left: -100px;
        
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            width: 400px;
            transition: width 0.25s ease-in-out;
             cursor: pointer;
        }
    }

    .image-box {
        position: relative;
        //flex: 1 1 20%;
        //height: 400px;
        //overflow: hidden;
        border-radius: 10px;
        //max-width: calc(25% - 10px);

        .portfolio-image {
            position: absolute;
            z-index: 2;
            // width: 100%;
            // height: 100%;
            //object-fit: cover;
        }

        .content {
            position: absolute;
            width: 100%;
            z-index: 3;
            padding: 10px 20px;
            transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
            background: linear-gradient(
                180deg,
                rgba(0, 0, 0, 0.2) 0,
                rgba(0, 0, 0, 1)
            );
            //bottom: -70px;
        }

        .title {
            margin-bottom: 0;
            margin-top: 0;
            color: #fff;
            font-size: 24px;
            font-weight: 500;
            line-height: 24px;
        }

        .description {
            font-size: 14px;
            margin-bottom: 5px;
            color: #fff;
            font-weight: 700;
        }

        .btn {
            margin-top: 30px;
            margin-bottom: 10px;
            padding: 0 23px;
            height: 40px;
            line-height: 34px;
            border: 2px solid #ffd700;
            border-radius: 4px;
            font-size: 14px;
            color: #fff;
            background: transparent;
            text-transform: uppercase;
            font-weight: 700;
            transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
            cursor: pointer;
        }

        .btn:hover {
            transform: translateY(-3px);
            background: #ffd700;
        }

        &:after {
            content: "";
            background: linear-gradient(180deg, #ffd700, #000);
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
            opacity: 0;
        }

        &:hover:after {
            opacity: 0.85;
        }

        &:hover .content {
            bottom: 0;
            background: transparent;
        }
    }


    // .pop-up {
    //     display: none;
    //     opacity: 1;
    //     background-color: rgb(99, 99, 99, 0.75) ;
    //     position: absolute;
    //     height: 95%;
    //     width: 95%;
    //     top: 50%;
    //     //left: 0;
    //     left: 50%;
    //     transform: translate(-50%, -50%);
    //     //bottom: 0;
    //     z-index: 9999;
    //     //opacity: 0.75;
    //     .window {
    //         background-color: red;
    //         position: inherit;
    //         display: flex;
    //         opacity: 1;
    //         height: 95%;
    //         width: 95%;
    //         top: 50%;
    //         //left: 0;
    //         left: 50%;
    //         transform: translate(-50%, -50%);
    //         justify-content: center;
    //         align-items: center;

    //         .close-icon {
    //             position: absolute;
    //             top: 13px;
    //             right: 30px;
    //             display: block;
    //             color: white;
    //             transition: 0.25s;
    //             &:hover {
    //                 color: yellow;
                        
    //                     transform: translateY(-2px) ;
                        
    //                     transition: 0.25s;
    //                     cursor: pointer;
    //             }
    //         }
    //     }
    // }

    // .pop-up:target {
    //     display: block;
    // }
}