body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.modal{
    z-index: 99999;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: linear-gradient(to bottom, rgb(83, 83, 83), rgb(0, 0, 0));
    padding: 30px 30px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
    height: auto;
    width: 100%;
    //background-color: red;
    margin-bottom: 20px;
    flex-direction: column;
    display: flex;

    .close-icon-no-show {
        display: none;
    }

    .close-icon {
        position: inherit;
        top: 20px;
        right: 20px;
        //display: block;
        color: white;
        transition: 0.25s;
        display: flex;
        &:hover {
            color: yellow;
                
                //transform: translateY(-2px) ;
                transform: translateY(-2px) rotate(-180deg);
                transition: 0.25s;
                cursor: pointer;
        }
    }

    @media screen and (max-width: 750px){
        width:  75vw;
    }

    @media screen and (max-height: 550px){
        //top: 50%;
        height: 70%;
        //overflow-y: scroll;
    }

    


    .flat-button {
        color: yellow;
        font-size: 11px;
        letter-spacing: 3px;
        text-decoration: none;
        padding: 8px 8px;
        padding-right: 6px;
        border: 1px solid yellow;
        //float: left;
        border-radius: 4px;
        background: 0 0;
        text-transform: uppercase;
        float: left;
        text-align: center;
        margin-right: 15px;
        transition: 0.1s ease-in-out;
        display: flex;
        width: 25%;
        min-width: 170px;
        margin-bottom: 10px;
        justify-content: center;
        position: relative;
        &:hover {
            cursor: pointer;
            background-color: yellow;
            color: black;
            transform: translateY(-1px) translateX(1px);
            transition: 0.1s ease-in-out;
        }

        @media screen and (max-height: 360px){
        //top: 50%;
        
            display: none;
        
        //overflow-y: scroll;
    }
    }
}



img {
    width: 100px;
    height: auto;
}

.portfolio-title {
    font-weight: 700;
    color: white;
    //margin-bottom: 5px;
    font-size: 40px;
}

.portfolio-type {
    margin-bottom: 5px;
    font-style: italic;
    span {
        
        color: rgb(216, 216, 216);
        font-size: 17px;
    }
    
}

.portfolio-description {
    margin-bottom: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    span {
        font-size: 15px;
        color: white;
    }
}

.images-gallery {
    //background-color: green;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    height: 300px;
    align-items: center;
    justify-content: baseline;

    @media screen and (max-height: 400px){
        //top: 50%;
        display: none;
        //overflow-y: scroll;
    }
}

.image-item {
    //margin: 5px;
    background-color: blue;
    height: 100%;
    width: auto;

    img {
        height: 100%;
        width: auto;
    }
}

.tags-portfolio {
    //background-color: green;
    display: flex;
    flex-direction: row;
    //overflow-x: auto;
    //overflow-y: hidden;
    flex-wrap: wrap;
   // margin: 5px;
   align-items: center;
   margin-bottom: 10px;

   @media screen and (max-height: 280px){
        //top: 50%;
       display: none;
        //overflow-y: scroll;
    }

   .h3-portfolio {
        color: white;
        font-size: 15px;
        padding-bottom: 5px;
        padding-right: 5px;
   }
}

.tag-item {
    //padding-right: 5px;
    //margin-top: 5px;
    //padding-top: 5px;
    //padding-left: 5px;
    font-family: 'Courier New', Courier, monospace;
    //background-color: blue;
    padding-bottom: 5px;
    padding-right: 5px;
    span {
        padding: 0px 5px;
        border-radius: 20%;
        background-color: rgba(134, 134, 134, 0.5);
        //opacity: 0.75;
        display: flex;
        transition: 0.25s ease-in-out;
        h5 {
            font-size: 15px;
            opacity: 1;
            color: white;
        }

        &:hover {
            transform: translateX(2px) translateY(-2px);
            background-color: rgb(235, 219, 0);
            transition: 0.25s ease-in-out;
            h5 {color: black;}
        }
    }
}

// .close-modal, .close-icon {
//     position: absolute;
//     top: 10px;
//     right: 10px;
//     padding: 5px 7px;
//     color: black;
// }



