.home-page {
  //overflow-y: scroll;
  overflow-x: hidden;
  //background: green;
  //min-height: 80vh;
  flex: 1;
  align-items: center;
  min-width: 100vw;
  display: flex;
  //padding: 20px 20px;
  justify-content: center;
  margin-bottom: -31px;
  justify-content: space-around;
  overflow: visible;
  //background-color: purple;
  
    .text-zone {
      // position: absolute;
      // left: 10%;
      // top: 50%;
      //transform: translateY(-100%);
      //margin-left: -20px;
      //padding-left: 100px;
      //padding-right: -50px;
      //width: 40%;
      //max-height: 90%;
      padding-left: 0px;
      margin-top: 0px;
      overflow: visible;
      //background-color: orange;
      display: flex;
      width: 45%;
      height: 110%;
      flex-direction: column;
      justify-content: center;
      align-content: center;
        text-align: center;
      opacity: 0;
      animation: fadeInUp 2s 1s;
      animation-fill-mode: forwards;
      margin-left: 20px;
      //margin-bottom: 40px;

      .intro {
        //background-color: red;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        overflow-y: visible;
        margin-top: 10px;
        margin-bottom: 10px;
      }

      .hello {
        margin-top: 20px;
        //background-color: blue;
        display: flex;
        flex-wrap: nowrap;
        overflow: visible;

        // @media screen and (max-width: 1400px) {
        //   width: 70%;
        // }

        // @media screen and (max-width: 1300px) {
        //   width: 50%;
        // }
        //margin-bottom: 10px;
      }

       h1 {
        
    
        // &:before {
        //   content: '<h1>';
        //   font-family: 'La Belle Aurore', cursive;
        //   color: #ffd700;
        //   font-size: 18px;
        //   position: absolute;
        //   margin-top: -40px;
        //   left: -15px;
        //   opacity: 0.6;
        // }
    
        // &:after {
        //   content: '<h1/>';
        //   font-family: 'La Belle Aurore', cursive;
        //   color: #ffd700;
        //   font-size: 18px;
        //   position: absolute;
        //   margin-top: 18px;
        //   margin-left: 20px;
        //   animation: fadeIn 1s 1.7s backwards;
        //   opacity: 0.6;
        // }
        .name {
          margin-left: 20px;
          font-family: 'Otflag'
        }
    
        // img {
        //   margin-left: 20px;
        //   opacity: 0;
        //   width: 32px;
        //   height: auto;
          
        // }

        
      }

      .parent-wrapper {
        align-items:  center;
        //flex-direction: row;
        flex-direction: column;
        //flex-wrap: wrap;

        display: flex;
        justify-content: center;
        //background-color: yellow;

        .further-explanation {
          position: relative;
          margin-top: 20px;  
          //background-color: blue;
          width: 75%;
          margin-left: 0px;
          justify-content: left;
          align-items: left;
          align-content: left;
          text-align: left;
          display: flex;
          flex-direction: column;
          //flex-wrap: wrap;
          cursor: default;
          
          p {
            color: white;
            font-family: 'Otflag';
            letter-spacing: 1px;
            font-size: 15px;
            font-weight: 100;
          }

          .first-text {
            align-items: left;
            text-align: left;
            display: flex;
            flex-direction: row;
            //flex-wrap: wrap;
            background-color: red;
          }

          .some-text {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            //background-color: red;
            // align-items: center;
            // justify-content: center;
            margin-top: 5px;
            // align-items: right;
            // text-align: right;
            // justify-content: right;
          }
        }

        .nav-bar-text, .contact-me-text {
          //color: red;
          margin: 0px 0px;
          font-weight: 900;
          transition: 0.1s;
          
          &:hover {
            color: #ffd700;
            //transform: translateY(-1px) translateX(1px);
            transition: 0.1s;
          }
        }

        .contact-button {
          display: flex;
          //background: green;
          justify-content: center;
          align-items: center;
          align-content: center;
        }

        // .contact-me-text-wrapper:hover + .contact-button {
          
        //     background: yellow;
        //     color: #333;
        //     transform: translateY(-2px);
          
        // }
      

        
      
        

        
      
        .flat-button {
          color: #ffd700;
          background-color: transparent;
          border-radius: 4px;
          font-size: 13px;
          font-weight: 400;
          letter-spacing: 4px;
          font-family: 'Otflag';
          text-decoration: none;
          padding: 10px 18px;
          border: 1px solid #ffd700;
          margin-top: 25px;
          float: left;
          animation: fadeInAnimation 1s 1.8s backwards;
          white-space: nowrap;
          transition: 0.15s ease-in-out;
      
          &:hover {
            background: #ffd700;
            color: #333;
            transform: translateY(-2px);
            
          }
        }
      }
    }

    h2 {
          color: rgb(118, 118, 118);
          //margin-top: 20px;
          font-weight: 600;
          font-size: 16px;
          font-family: 'Sherif';
          font-weight: 700;
          letter-spacing: 1px;
          animation: fadeIn 1s 1.8s backwards;
        }

    .pictures-zone {
      //margin-left: -20px;
      //width: 40%;
      //max-height: 90%;
      //;
      display: flex;
      width: 35%;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content:center;
      text-align: center;
      min-height: 55vh;
      margin-right: 100px;
      //padding-right: 100px;
      //background-color: red;
      opacity: 0;
      animation: fadeInUp 2s 1s forwards;
      
      //animation-fill-mode: forwards;
      

      
      

      // .picture1 {
      //   border: solid white 10px;
      //   border-radius: 100%;
      //   height: auto;
      //   width: auto;
      //   max-height: 400px;
      //   max-width: 400px;

      //   //animation: rotateIn 1s linear both;
      //   //animation: 
      //   animation-delay: 2s;
        
        
      // }

      // .picture2 {
      //   border: solid white 10px;
      //   border-radius: 100%;
      //   height: auto;
      //   width: auto;
      //   max-height: 400px;
      //   max-width: 400px;

      //   //animation: rotateIn 1s linear both;
      //   //animation: 
      //   animation-delay: 4s;
      // }

      // .picture3 {
        

      //   //animation: rotateIn 1s linear both;
      //   //animation: 
      //   //animation-delay: -4s;
      // }

      

      .suggestion-zone {
          display: block;
          //background-color: yellow;
          height: 10%;
          visibility: none;
          opacity: 0;
          transition: 0.5s ease-in-out; 
          margin-top: 5px;
          margin-bottom: 20px;
          
          .user-suggestion {
            // visibility: hidden;
            // opacity: 0;
            
            // position: absolute;
            // bottom: 220px;
            // right: 100px;
            //color: black;
            justify-content: flex-end;
            bottom: 0px;
            color: white;
            font-size: 20px;
            letter-spacing: 1px;
            font-family: 'Otflag';
          }
        }

      .hover-image {
        //position: relative !important;
        //animation-name: fade;
        display: flex;
        opacity: 1;
        //left: 25%;
        border-radius: 100%;
       // margin-left: 25%;
        justify-content: center;
        margin-top: 20px;
        // right: 0;
        // margin-left: 25%;
        // //bottom: 650px;
        // bottom: 440px;
        //background-color: black;
        // min-width:  400px;
        // min-height: 370px;
        width: 350px;
        height: 90%;

        &:hover {
          cursor: pointer;
          
        }
        
        // -webkit-animation: fade 6s infinite;
        // animation-duration: 6s;
        // animation-iteration-count: infinite;

        img {
          position: absolute !important;
          display: flex;
          border: solid white 10px;
          //right: 50%;
          border-radius: 100%;
          height: auto;
          width: auto;
          min-height: 350px;
          min-width: 350px;
          max-height: 350px;
          max-width: 350px;
          opacity: 0;

          animation: spin 1s ease-in-out forwards;

          //-webkit-animation: fade 50s infinite;
          animation: fade 100s infinite;

          .picture5 {
            //opacity: 0;
            
          }
        }

        img:nth-of-type(1) {
          animation-delay: 0s;
          //position: relative !important;
        }
        img:nth-of-type(2) {
          animation-delay: 10s;
          //position: relative !important;
        }
        img:nth-of-type(3) {
          animation-delay: 20s;
          //position: relative !important;
        }
        img:nth-of-type(4) {
          animation-delay: 30s;
          //position: relative !important;
        }
        img:nth-of-type(5) {
          //animation: fadeIn 1s 50s;

          animation-delay: 40s;
          //position: relative !important;
        }
        img:nth-of-type(6) {
          animation-delay: 50s;
          //position: relative !important;
        }
        img:nth-of-type(7) {
          animation-delay: 60s;
          //position: relative !important;
        }
        img:nth-of-type(8) {
          animation-delay: 70s;
          //position: relative !important;
        }
        img:nth-of-type(9) {
          animation-delay: 80s;
          //position: relative !important;
        }
        img:nth-of-type(10) {
          animation-delay: 90s;
          position: relative !important;
        }

        
      }

      .hover-image:hover + .suggestion-zone {
          display: block;
          visibility: visible;
          opacity: 1;
          transition: 0.5s ease-in-out; 
          transition-delay: 2s;
          //background-color: red;
        }

      .hover-image:hover:active {
        + .suggestion-zone {
          opacity: 0;
          visibility: hidden;
          transition: 0.5s ease-in-out; 
        }
        img {
          //-webkit-animation: fade 10s infinite;
          animation: fade 20s infinite;
        }
        img:nth-of-type(1) {
          animation-delay: 0s;
          //position: relative !important;
        }
        img:nth-of-type(2) {
          animation-delay: 2s;
          //position: relative !important;
        }
        img:nth-of-type(3) {
          animation-delay: 4s;
          //position: relative !important;
        }
        img:nth-of-type(4) {
          animation-delay: 6s;
          //position: relative !important;
        }
        img:nth-of-type(5) {
          animation-delay: 8s;
          //position: relative !important;
        }
        img:nth-of-type(6) {
          animation-delay: 10s;
          //position: relative !important;
        }
        img:nth-of-type(7) {
          animation-delay: 12s;
          //position: relative !important;
        }
        img:nth-of-type(8) {
          animation-delay: 14s;
          //position: relative !important;
        }
        img:nth-of-type(9) {
          animation-delay: 16s;
          //position: relative !important;
        }
        img:nth-of-type(10) {
          animation-delay: 18s;
          position: relative !important;
        }
      }

      @keyframes fade {
        0% {opacity: 0;}
        3% {opacity: 1;}
        10% {opacity: 1;}
        13% {opacity: 0;}
        100% {opacity: 0;}
      }

      // .hover-image:hover .user-suggestion {
      //   display: flex;
      //   visibility: visible;
      //   opacity: 1;
      //   color: white;
      //   transition: 0.5s ease-in-out; 
      // }

      // .hover-image:hover + .user-suggestion {
      //   display: flex;
      //   visibility: visible;
      //   opacity: 1;
      //   color: white;
      //   transition: 0.5s ease-in-out;
      //   // position: absolute;
      //   // bottom: 0px;
      //   font-size: 40px;
        
      // }
      // .suggestion-zone {
      //   background-color: blue;
      // }
      
      
    }
    
    @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }

  
   
  }

  .nav-bar-location {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: end;
      position: absolute;
      top: 70px;
      margin-left: 50px;
      right: 22vw;
      z-index: 999999;
      opacity: 0;

      animation: customFadeIn 1s ease-in-out;
      animation-fill-mode: forwards;
      animation-delay: 8s;

      pointer-events: auto;
      //animation-play-state: paused;

      
      //background: red;
    .bracket {
      
      img {
        //border:  black 10px;
        color: white;
        //background-color: white;
        width: 40vw;
        height: 90px;

        // &:hover {
        //   pointer-events: none;
        // }
        
      }
    }


    

    &:hover {
      // animation: fadeOut 1s ease-in-out;
      // animation-fill-mode: forwards;
      // opacity: 1;
      //animation-play-state: running;
      //pointer-events:;
      //visibility: hidden;
    }

    @keyframes permanentFade {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
        pointer-events: auto;
      }
      100% {
        opacity: 0;
        pointer-events: auto;
        //visibility: hidden;
      }
    }

    @keyframes customFadeIn {
      0% {
        opacity: 0;
        pointer-events: none;
      }
      99% {
        opacity: 1;
        pointer-events: none;
      }
      100% {
        opacity: 1;
        pointer-events: auto;
      }
    }

    .nav-bar-descriptor {
      position: relative;
      bottom: 1.5vh;
      right: -0.5vw;
      h3 {
        color: white;
        font-size: 20px;
        font-family: 'Otflag';
        -webkit-text-stroke: 0.5px black;
        font-weight: bold;
      }
    }

    
  }

  .nav-bar-location-mobile {
      display:  flex;
      position: absolute;
      flex-direction: row;
      right: 67vw;
      top: 100px;
      //background-color: orange;
      z-index: 2;

      .nav-bar-descriptor-mobile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        //background-color: red;
        width: auto;
        animation: fadeIn 1s ease-in-out forwards;
        animation-delay: 8s;
        opacity: 0;
        position: absolute;
        right: 0px;
        //top: 15px;
        //z-index: 3;
      }

      .nav-bar-descriptor-mobile-arrow {
        animation: fadeIn 1s ease-in-out forwards;
        animation-delay: 8s;
        opacity: 0;
        position: absolute;
        //background-color: green;
        top: -2vh;
        right: -1.5vw;
        //padding-left: px;
        transform: rotate(-50deg);
      }

      img {
        width: 20px;
        height: 20px;
        color: white;
      }

      h3 {
        color: white;
        font-size: 18px;
        font-family: 'Otflag';
        letter-spacing: 1px;
        
      }
    }

    .nav-bar-location-mobile.first-action {
      animation: fadeOut 1s ease-in-out;
        animation-fill-mode: forwards;
        opacity: 0;
    }
    
  // .nav-bar-location.first-action {
  //   animation: fadeOut 1s ease-in-out;
  //   animation-fill-mode: forwards;
  //   opacity: 0;
  // }

  // .nav-bar-location.second-action {
  //   animation: fadeOut 1s ease-in-out;
  //   animation-fill-mode: forwards;

  //   &:hover {
  //     animation: fadeIn 1s ease-in-out;
  //     animation-fill-mode: forwards;
  //     opacity: 1;
  //   }
  // }

  
  
  
  @media screen and (max-width: 1200px) {
    .home-page {
      min-height: 85vh;
      
      h1 {
        font-size: 12px;
      }

      .further-explanation {
        margin-left: 0px;
      }
      .text-zone {
        width: 50%;
        //margin-right: 50px;
      }
    }

    
    
  }

  @media screen and (max-width: 1100px) {
    .home-page .text-zone {
      margin-left: 0px;
    }
    .home-page .intro {

      //background-color: purple;
      display: flex;
      flex-direction: column;
      justify-content: center;

      // .hello {
      //   background-color: orange;
      // }

      // .im-name {
      //   background-color: green;
      // }
 
    }
    .home-page {
      margin-top: 50px;
      //background-color: blue;
    }
  }
  
  @media screen and (max-width: 1000px) {
    .tags,
    .home-page h1:before,
    .home-page h1:after {
      display: none;
    }
  .home-page {
    height: 100%;
    min-height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    padding: 0px 0px;
    margin-top: 100px;
    overflow: hidden;

    .further-explanation {
      width: 70%;
    }

    
    

    .pictures-zone {
      //background-color: yellow;
      width: 95%;
      height:auto;
      min-height: 0px;
      // margin-left: 0;
      // margin-right: 0;
      margin: 0px 0px;
      justify-content: center;
      display: flex;
      align-items: center;
      align-content: baseline;

      margin-bottom: 20px;
      .hover-image {
        //margin: 0px;
        min-width: 100%;
        //background-color: red;
      }
    }
  }

  
  
    .home-page .text-zone {
      position: initial;
      min-width:  90%;
      transform: none;
      display: flex;
      justify-content: center;
      align-items: center;
      //padding: 10px;
      //top: 200px;
      box-sizing: border-box;
      min-height: 40vh;
      overflow-x: hidden;
      //background-color: blue;
      //padding-left: 15px;
      // margin-right: 0px;
      // margin-left: 5px;
      margin-top: 10px;
      //background-color: red;
      .intro {
        //background-color: palegoldenrod;
        display: flex;
        flex-direction: row;
        //background-color: blue;
        max-width: 90%;
      }
    }
  
  
    .home-page .flat-button {
      float: none;
      display: block;
      //margin: 20px auto 0 auto;
      width: 124px;

    }

    // .home-page .intro {
    //   background-color: purple;
    // }

    .home-page .contact-button {
      //background-color: green;
    }
  
    .logo-container {
      position: relative;
      width: 100px;
      height: auto;
      top: 50px;
      right: 0;
      box-sizing: border-box;
      margin: auto;
      left: 0;
    }
  
    .logo-container svg {
      position: absolute;
      top: auto;
      right: auto;
      bottom: auto;
      left: 0;
      margin: auto;
    }
  }

  @media screen and (max-width: 900px) {
    .bracket, .nav-bar-location {
      display: none;
    }

    .nav-bar-location-mobile {
      display:  flex;
      position: absolute;
      flex-direction: row;
      right: 10vw;
      top: 10vh;
      //background-color: orange;
      //z-index: 3;

      .nav-bar-descriptor-mobile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        //background-color: red;
        width: auto;
        animation: fadeIn 1s ease-in-out forwards;
        animation-delay: 8s;
        opacity: 0;
        //z-index: 3;
      }

      .nav-bar-descriptor-mobile-arrow {
        animation: fadeIn 1s ease-in-out forwards;
        animation-delay: 8s;
        opacity: 0;
        position: absolute;
        //background-color: green;
        top: -2vh;
        right: -2.5vw;
        transform: rotate(-60deg);
      }

      img {
        width: 20px;
        height: 20px;
        color: white;
      }

      h3 {
        color: white;
        font-size: 18px;
        //font-family: Georgia, 'Times New Roman', Times, serif;
        
      }
    }

    .nav-bar-location-mobile.first-action {
      animation: fadeOut 1s ease-in-out;
        animation-fill-mode: forwards;
        opacity: 0;
    }

    // .nav-bar-location-mobile.first-action {
    //   animation: fadeOut 1s ease-in-out;
    //     animation-fill-mode: forwards;
    //     opacity: 0;
    // }

    

    // .nav-bar-location-mobile.second-action {
    //   animation: fadeOut 1s ease-in-out;
    //   animation-fill-mode: forwards;

    //   &:hover {
    //     animation: fadeIn 1s ease-in-out;
    //     animation-fill-mode: forwards;
    //     opacity: 1;
    //   }
    // }
  }

  // @media screen and (max-width: 600px) {

  //   .home-page .intro .hello {
  //     background-color: red;
  //     max-width: 20%;
  //   }
  // }

  @media screen and (max-width: 500px) and (min-width: 400px) {

    .home-page .intro .hello {
      //background-color: blue;
      max-width: 92%;
    }
  }

  
  @media screen and (max-width: 400px) and (min-width: 0px) {
    .home-page .intro .hello {
      //background-color: red;
      max-width: 97%;
    }
  }

  @media screen and (max-width: 600px) and (min-width: 500px) {

    .home-page .intro .hello {
      //background-color: red;
      max-width: 85%;
    }
  }