.contact-page {
  //background-color: red;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  height: auto;
  overflow-y: scroll;
  margin-bottom: -15px;
  opacity: 0;
  animation: fadeIn 1s 1s;
  animation-fill-mode: forwards;

  h1 {
    margin:10px 20px;
    margin-top:-10px;
    font-size: 50px;
    color: white;
    font-family: sans-serif;

    
    
    //margin-bottom: -5px;
  }

  .explaination-zone {
    //background-color: red;
    width: 95%;
    margin-left: 10px;
    margin-bottom: -20px;
  }
  p {
    color: white;
    font-size: 15px;
   
    
  }
  .bold {
    margin-top: 5px;  
    font-weight: 400;
  }
}


.text-zone {
  //background-color: blue;
  width: 48%;
  padding: 20px 10px;
  margin-left: 30px;
}

.map-section {
  width: 50%;
  //background: yellow;
}

.contact-form {
    width: 95%;
    max-width: 95%;
    margin-top: 20px;
    padding: 20px 0px;
    //overflow: scroll;
    //background-color: rgb(32, 71, 69);
    // border: #000 solid 2px;
    // border-radius: 20px;
  
    ul {
      padding: 0;
      margin: 0;
      margin-bottom: 10px;
  
      li {
        padding: 0;
        margin: 0;
        list-style: none;
        margin-bottom: 10px;
        opacity: 0;
        //overflow: hidden;
        //display: block;
        clear: both;
        position: relative;
        animation: fadeInUp 2s 2s;
        animation-fill-mode: forwards;
      }
  
      li.half {
        width: 49%;
        margin-left: 2%;
        float: left;
        clear: none;
  
        &:first-child {
          margin-left: 0;
        }
      }
    }
  
    input[type='text'],
    input[type='email'] {
      width: 100%;
      border: 0;
      background: #115173;
      height: 50px;
      font-size: 16px;
      color: #fff;
      padding: 0 20px;
      box-sizing: border-box;
    }

    .messager-container {
      display: flex;
       align-items: flex-start;
      justify-content: flex-start;
    }
  
    .messanger-box {
      width: 100%;
      max-width: 100%;
      min-width: 100%;
      border: 0;
      background: #115173;
      height: 120px;
      max-height: 200px;
      font-size: 16px;
      color: #fff;
      padding: 20px;
      box-sizing: border-box;
      overflow: scroll;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      resize: none;
    }
  
    .flat-button {
      color: white;
      font-size: 11px;
      letter-spacing: 3px;
      text-decoration: none;
      padding: 8px 8px;
      padding-right: 6px;
      border: 1px solid white;
      float: left;
      border-radius: 4px;
      background: 0 0;
      text-transform: uppercase;
      float: right;
      text-align: center;
      margin-right: 15px;

      &:hover {
        cursor: pointer;
        background-color: white;
        color: black;
      }
    }
  }
  
  .map-wrap {
    //background: rgba(8, 253, 216, 0.1);
    float: right;
    width: 95%;
    height: 89%;
    //margin-top: -3%;
    padding: 20px 20px;
  }
  
  .leaflet-container {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: backInRight 1s 1.2s;
    animation-fill-mode: forwards;
    border: #000 solid 2px;
    border-radius: 20px;
  }
  
  .info-map {
    position: absolute;
    background: #000;
    top: 17%;
    right: 10px;
    z-index: 1;
    width: 150px;
    padding: 20px;
    color: #fff;
    font-family: 'Helvetica';
    font-size: 14px;
    font-weight: 300;
    opacity: 0;
    animation: fadeIn 1s 1.5s;
    animation-fill-mode: forwards;
  
    span {
      font-size: 12px;
  
      span {
        color: #ffd700;
      }
    }
  }

  @media screen and (max-width: 1200px) {
    .contact-page {
      min-height: 85vh;
      transition: 0.1s;
    }
    .text-zone {
      margin-left: 5px;
      margin-right: 10px;
    }
    .map-wrap {
      //float: none;
      //width: 100%;
      //height: 400px;
      //margin: 0;
      margin-left: 0px;
      //background: yellow;

      .leaflet-container {
        margin-left: 0px;
        max-width: 97%;
      }
    }

    

    .info-map {
      top: 13%;
      width: 100px;
      padding: 15px 15px;
      animation: fadeIn 1s 1.5s;
      animation-fill-mode: forwards;
      //display: none;
    }
  }

  @media screen and (max-width: 800px) {
    .contact-page {
      display: flex;
      height: auto;
      overflow-y: scroll;
      overflow-x: hidden;
      flex-direction: column;
      //background-color: orange;
      //min-height: 500px;
      
      .text-zone, .map-wrap, .leaflet-container {
        width: 95%;
        height: 100%;
       // min-height: 1000px;
      }

      .text-zone {
        padding-bottom: 500px;
      }

      p {
        font-size: 12px;
      }

      .map-wrap {
        position: absolute;
        top: 80%;
        height: 75%;
        width: 96%;
      }

      .info-map {
        top: 85%;
        animation: fadeIn 1s 1.5s;
        animation-fill-mode: forwards;
      }
    }
  }
  